<!-- Ejs-mate code for inserting common boilerplate across all pages -->
<% layout('layouts/boilerplate')%>
    <h1>All Campgrounds</h1>
    <div>
        <a href="campgrounds/new">Add Campground</a>
    </div>
    <ul>
        <% for (let campground of campgrounds) {%>
            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-4">
                        <% if (campground.images.length) { %>
                            <img src="<%= campground.images[0].url %>" alt="" class="img-fluid">
                            <% } else { %>
                                <img class="img-fluid" alt=""
                                    src="https://res.cloudinary.com/dusen9otk/image/upload/v1657580201/YelpCamp/xm9cn0sq0kergrlorkyl.jpg">
                                <% } %>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= campground.title %>
                            </h5>
                            <p class="card-text">
                                <%= campground.description %>
                            </p>
                            <p class="card-text">
                                <small class="text-muted">
                                    <%= campground.location %>
                                </small>
                            </p>
                            <a class="btn btn-primary" href="/campgrounds/<%= campground._id%>">View <%=
                                    campground.title %></a>
                        </div>
                    </div>
                </div>
            </div>
            <% }%>
    </ul>